<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>190547287695-6cvr7do5js2cqfsmk4gvt0pk0egous5j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.190547287695-6cvr7do5js2cqfsmk4gvt0pk0egous5j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>190547287695-8jbckiuhvcqg04t8dvjuja0l5sm58usb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCkKJYH3ffHuCj_795kceOeLk3JO7eMEqg</string>
	<key>GCM_SENDER_ID</key>
	<string>190547287695</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.niwarthana.timeTrackerFlutter</string>
	<key>PROJECT_ID</key>
	<string>time-tracker-flutter-40903</string>
	<key>STORAGE_BUCKET</key>
	<string>time-tracker-flutter-40903.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:190547287695:ios:e56e538010b899b34e1afa</string>
</dict>
</plist>
